<template>
    <require from="../tweet/tweet.html"></require>
    <div class="spaced">
        <div if.bind="state.user" class="spaced center">
            <div class="input-field inputWidth">
                <textarea id="newTweetText" class="materialize-textarea tweetTextbox" autofocus
                          value.bind="newTweetText" length="140" maxLength="140"></textarea>
                <label for="newTweetText">New Tweet</label>
            </div>
            <a class="btn" click.trigger="sendTweet()">Tweet</a>
        </div>

        <div class="spaced">
            <div class="card infoBox" if.bind="(state.loading || state.feed.length > 0) ? false : true">
                No tweets available.
                Please add some Subscriptions.
            </div>
            <tweet repeat.for="tweet of state.feed"
                   text.bind="tweet.text"
                   username.bind="tweet.username"
                   timestamp.bind="tweet.timestamp">
            </tweet>
        </div>
    </div>
</template>