<template>
    <require from="../tweet/tweet.html"></require>
    <require from="../spinner/spinner.html"></require>
    <div class="loader" if.bind="loading">
        <spinner></spinner>
    </div>
    <div if.bind="!loading" class="spaced">
        <div if.bind="state.user" class="spaced">
            <div class="input-field">
                <input id="newTweetText" type="text" placeholder="New Tweet" value.bind="newTweetText" />
                <label for="newTweetText">New Tweet ${newTweetText.length}</label>
            </div>
            <a class="btn" click.trigger="sendTweet()">Tweet</a>
        </div>
        <div class="spaced">
            <div class="input-field">
                <input id="searchUser" type="text" placeholder="Username" value.bind="searchUser" />
                <label for="searchUser">Username</label>
            </div>
            <a class="btn" click.trigger="fetchUserTweets()">Fetch Tweets</a>
        </div>

        <div class="spaced">
            <div class="card infoBox" if.bind="(searchUser !== '' && lastSearchUser === searchUser && tweets.length === 0) ? true : false">
                No tweets available for ${searchUser}
            </div>
            <tweet repeat.for="tweet of tweets"
                   text.bind="tweet.text"
                   username.bind="tweet.username"
                   timestamp.bind="tweet.timestamp">
            </tweet>
        </div>
    </div>
</template>