<template>
    <require from="../subscription/subscription.html"></require>

    <div class="spaced">

        <div class="spaced center">
            <div class="input-field inputWidth">
                <input id="newSubscriptionUser" type="text"
                       input.delegate="usernameAutocomplete() & debounce"
                       value.bind="newSubscriptionUser" />
                <label for="newSubscriptionUser">Username</label>
                <ul if.bind="usernameSuggestions.length > 0" class="collection cursor-hand">
                    <a class="collection-item"
                       click.delegate="selectUsername($event.target.text)"
                       repeat.for="username of usernameSuggestions">${username}</a>
                </ul>
            </div>
            <a class="btn" click.trigger="addSubscription()">Subscribe</a>
        </div>

        <div class="spaced center itembox">
            <div class="card infoBox" if.bind="(!state.loading && state.subscriptions.length === 0) ? true : false">
                You are not subscribed to anybody.
            </div>
            <subscription repeat.for="subscription of state.subscriptions"
                   id.bind="subscription.id"
                   username.bind="subscription.username"
                   delete.call="deleteSubscription(subscription.id)">
            </subscription>
        </div>

    </div>
</template>