<template bindable="router">
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Usergems Twitter</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li if.bind = "!state.user">
                    <a click.trigger="auth.login()">Login</a>
                </li>
                <div if.bind = "state.user">
                    <li repeat.for="row of router.navigation" class="${row.isActive ? 'active' : ''}">
                        <a href.bind="row.href">${row.title}</a>
                    </li>
                    <li>
                        <a click.trigger="auth.logout()">Logout (${state.user.username})</a>
                    </li>
                </div>
            </ul>
        </div>
    </nav>
</template>