<template bindable="router">
    <require from="./items.html"></require>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo left hide-on-small-and-down">Usergems Twitter</a>
            <a href="#" class="brand-logo hide-on-med-and-up">Twitter</a>

            <a href="#" data-activates="side-nav" class="button-collapse"><i class="material-icons">menu</i></a>

            <ul id="nav-mobile" class="right hide-on-small-and-down">
                <items state.bind="state" router.bind="router"></items>
            </ul>

            <ul class="side-nav" id="side-nav">
                <items state.bind="state" router.bind="router"></items>
            </ul>
        </div>
    </nav>
</template>