body {
    background: lightgrey;
}

nav {
    padding-left: 20px;
    padding-right: 20px;
}

.spaced {
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

.infoBox {
    background: yellow;
    text-align: center;
    padding: 20px;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}

.inputWidth {
    width: 300px;
 }

input {
    text-align: center;
}

.itemBox {
    flex-direction: row;
    flex-wrap: wrap;
}

textarea.tweetTextbox {
    min-height: 0px;
}

.progress {
    margin: 0px;
}

.cursor-hand {
    cursor: hand;
}